---
- name: Configure OpenBSD
  hosts: all
  gather_facts: false
  become_method: doas

  vars_files:
    - vars/main.yml
    - vars.yml

  vars:
    assets_path: '{{ playbook_dir }}/assets'
    files_path: '{{ playbook_dir }}/files'
    handlers_path: '{{ playbook_dir }}/handlers'
    tasks_path: '{{ playbook_dir }}/tasks'
    templates_path: '{{ playbook_dir }}/templates'

  tasks:
    - name: System Hardening
      import_tasks: '{{ tasks_path }}/hardening.yml'
      tags: hardening

    - name: Configure Network
      import_tasks: '{{ tasks_path }}/network.yml'
      tags: network

    - name: Update OpenBSD
      import_tasks: '{{ tasks_path }}/update.yml'
      tags: update

    - name: Install PKGs
      import_tasks: '{{ tasks_path }}/pkgs.yml'
      tags: pkgs

  handlers:
    - name: Restart sshd
      import_tasks: '{{ handlers_path }}/ssh.yml'

    - name: Restart network
      import_tasks: '{{ handlers_path }}/network.yml'
