[openbsd_server]
prxmox_server_1 ansible_host=192.168.88.10

[openbsd_server:vars]
ansible_port=22
ansible_user=user
ansible_ssh_private_key_file=~/.ssh/srv_key.pem
ansible_ssh_common_args='-o ProxyJump=bastion'
