Port {{ SSH_PORT }}
PermitRootLogin {{ 'yes' if SSH_PERMIT_ROOT_LOGIN else 'no' }}
MaxAuthTries 5
MaxSessions 3
PasswordAuthentication no
PermitEmptyPasswords no
X11Forwarding no
AuthorizedKeysFile .ssh/authorized_keys
